.title {
  color: blueviolet

}
.row{
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  padding: 1px;
  transform: translateX(10px);
}
.imageDiv{
  padding: 1px;
  height: 250px;
  display: flex;

}

.img {
  max-height:100%;
  height:auto;
}
.row::-webkit-scrollbar {
  display: none;
}