.title {
  color: blueviolet

}
.row{
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}
.imageDiv{
 height: 270;
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;

}
.img {
  margin: 1px;
  width: 420px;
  height: 275px;
  object-fit: cover;
}
.row::-webkit-scrollbar {
  display: none;
}