.img {
  margin: 1px;
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.imgDiv{


}
.rightGrid {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, 300px);

}
